<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=0">

		<style>
		body,html{
			color: white;
			height: 100%;
			margin: 0;
			background-image: url("https://store.canterlotavenue.com/file/file/pic/photo/2018/02/07bcadeea7300c27460147503ed18d53_1024.png");
			
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;	
		}
		.container{
			color: white;
			position: relative;
			background-image: url("http://i0.kym-cdn.com/photos/images/original/001/329/453/ba0.jpg");
			background-color: #111111;
			
		}
		</style>

		<title>ChatHelper</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="style.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			{% include 'includes/_navbar.html' %}
			{% include 'includes/_messages.html' %}
			{% block body %}{% endblock %}	
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="//cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
		<script type="text/javascript">
			CKEDITOR.replace('editor')
		</script>
	</body>
</html>