body{
    margin: 0;
    padding: 0;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    font-family: sans-serif;
}

.profilebox{
    width: 320px;
    height: 420px;
    background: #373a3f;
    color: #fff;
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box; 
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -24%;
    left: calc(50% - 50px);
}

h1{
    margin-bottom: 0;
    padding: 0 0 0px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #919cad;
}
h2{
    margin-top: 0;
    padding: 0 0 0px;
    text-align: center;
    font-size: 22px;

}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 400px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #373a3f; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.btn{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #9da5b2;
    font-family: sans-serif;
    display: block;
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: transparent;
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style the active class (and buttons on mouse-over) */
.active, .btn:hover {
  background-color: #719fe8;
  color: white;
}

/* Style page content */
.main {
    background-color: #4f545c;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}