<!DOCTYPE html>
<html>
<head>
	<title>
		The Best Social Media
		</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href= "{{url_for('static',filename='css/dashboardStyle.css') }}">
</head>
<body class="home" onload="loadScroll()">
	<ul id="test">
			<div id="barContent" style="width:1100px; height:55px; margin-right:auto; margin-left:auto">
						<li>
				  			<p id="sentUsername">{{ username }}</p>
				  			<span class="dot"></span>
				  		</li>
				  		<a href="/logout">
							<li style="float:right">
				  				<p>Log out</p>
				  			</li>
				  		</a>
				  		<a href="/dashboard">
							<li style="float:right">
				  				<p>Chats</p>
				  			</li>
				  		</a>
				  		<a href="/profile">
				  		<li style="float:right">
				  			<p>Profile</p>
				  		</li>
				  	</a>
			</div>
	</div>
	</ul>
	<div id="profile">
		<div id="profileImage">
		</div>
		<div id="chatConvo">
			<p>Chatting with:</p>
			<p id="curChat">{{ convo }}</p>
		</div>
		<hr>
		{% for usr in usernames %}
			<div id="profileContent" onclick="changeChat(this)">
				<p>{{ usr }}</p>
			</div>
		{% endfor %}
	</div>
	<div id="chatContent">
			{% for msg in messages %}
			{% if msg.username1 == username %}
			<div id="messageContentSent">
				<div id="messageDetails">
					<p>{{ username }}</p>
					<p>{{ msg.message_timestamp }}</p>
				</div>
				<div id="chat">
					<p>{{ msg.message }}</p>
				</div>
			</div>
			{% else %}
			<div id="messageContentReceived">
				<div id="messageDetails">
					<p>{{ msg.username1 }}</p>
					<p>{{ msg.message_timestamp }}</p>
				</div>
				<div id="chat">
					<p>{{ msg.message }}</p>
				</div>
			</div>
			{% endif %}
			{% endfor %}
	<div style="height:70px" id="buffer"></div>


	</div>
	<div id="chatBar">
		<!--changed some things here that will load -->
		<form action="" method="POST">
			<textarea type="textarea" id="private_message" style=" background-color:white;
    width:82%;
    float:left;
    font-family:montLight;
    margin-top:8px;
    margin-left:1%;border-radius:3px;height:50px;font-size:20px; resize:none;" name="message" placeholder="type message" required></textarea>
			<button class="button" id="send_private_message" type="submit">
				<p>send</p>
			</button>
			<input type="text" id="send_to_username" name="username1" style="visibility: hidden">
		</form>
	</div>
	</div>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript"
              src="http://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
	<script>
		function loadScroll(){
			window.scrollTo(0,document.body.scrollHeight);
			document.getElementById('send_to_username').value = document.getElementById('curChat').innerHTML;
			console.log(document.getElementById('curChat').innerHTML);
		}

		function changeChat(value){
			var text = value.getElementsByTagName('p')[0].innerHTML;
			document.getElementById('curChat').innerHTML = text;
			document.getElementById('send_to_username').value = text;
			window.open('/dashboard/'+document.getElementById('curChat').innerHTML, "_self");
		}
	</script>
</body>
</html>