<!DOCTYPE html>
<html>
<head>
	<title>
		The Best Social Media
		</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="profileStyle.css">
</head>
<body class="home">
	<ul>
			<div id="barContent" style="width:1100px; height:55px; margin-right:auto; margin-left:auto">
						<li>
				  			<p>User Name</p>
				  		</li>

				  		<li style="float:right">
				  			<p>Find Users</p>
				  		</li>
				  		<li style="float:right">
				  			<p>Chats</p>
				  		</li>
				  		<li style="float:right">
				  			<p>Forums</p>
				  		</li>
			</div>
	</div>
	</ul>
	<div id="profile">
		<div id="profileImage">
		</div>
		<div id="profileContent">
			<p>User Name</p>
		</div>
		<hr>
		<div id="profileContent">
			<p>Friend 1</p>
		</div>
		<div id="profileContent">
			<p>Friend 2</p>
		</div>
		<div id="profileContent">
			<p>Friend 3</p>
		</div>
		<div id="profileContent">
			<p>Friend 4</p>
		</div>
		<div id="profileContent">
			<p>Friend 5</p>
		</div>
		<div id="profileContent">
			<p>Friend 6</p>
		</div>
		<div id="profileContent">
			<p>Friend 7</p>
		</div>
	</div>
	<div id="chatContent">
		<div style="height:70px"></div>
			<div id="messageContent">
				<div id="messageDetails">
					<p>message content 1</p>
				</div>
				<div id="chat">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
				</div>
			</div>
			<div id="messageContent">
				<div id="messageDetails">
					<p>message content 2</p>
				</div>
				<div id="chat">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
				</div>
			</div>
			<div id="messageContent">
				<div id="messageDetails">
					<p>message content 3</p>
				</div>
				<div id="chat">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
				</div>
			</div>
			<div id="messageContent">
				<div id="messageDetails">
					<p>message content 4</p>
				</div>
				<div id="chat">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
				</div>
			</div>
			<div id="messageContent">
				<div id="messageDetails">
					<p>message content 5</p>
				</div>
				<div id="chat">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
				</div>
			</div>



	</div>
	<div id="chatBar">
		<form>
			<textarea type="textarea" id="message" placeholder="type message" required></textarea>
			<button class="button">
				<p>send</p>
			</button>
		</form>
	</div>
	<!-- 
	<div id="mainContent">
		<div id="contentPost">
			<div id="postHeader">
				<p>Header for post</p>
				<p id="postDetails">username | date</p>
				<hr>
			</div>
			<div id="postContent">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div id="postOptions">
				<p>reply</p>
				<p>comments ></p>
			</div>
		</div>
		</div>
	-->
	</div>
</body>
