<!DOCTYPE html>
<html>
<head>
	<title>
		The Best Social Media
		</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href= "{{url_for('static',filename='css/profileStyle.css') }}">
</head>
<body class="home" onload="loadScroll()">
	<ul>
			<div id="barContent" style="width:1100px; height:55px; margin-right:auto; margin-left:auto">
						<li>
				  			<p>{{ username }}</p>
				  			<span class="dot"></span>
				  		</li>
				  		<a href="/logout">
							<li style="float:right">
				  				<p>Log out</p>
				  			</li>
				  		</a>
				  		<a href="/dashboard">
							<li style="float:right">
				  				<p>Chats</p>
				  			</li>
				  		</a>
				  		<li style="float:right">
				  			<p>Forums</p>
				  		</li>
			</div>
	</div>
	</ul>
	<div id="profile">
		<div id="profileImage">
		</div>
		<div id="chatConvo">
			<p>Chatting with:</p>
			<p id="curChat">{{ convo }}</p>
		</div>
		<hr>
		{% for usr in usernames %}
		<div id="profileContent" onclick="changeChat(this)">
			<p>{{ usr }}</p>
		</div>
		{% endfor %}
	</div>
	<div id="chatContent">
			{% for msg in messages %}
			{% if msg.username1 == username %}
			<div id="messageContentSent">
				<div id="messageDetails">
					<p>{{ username }}</p>
					<p>{{ msg.message_timestamp }}</p>
				</div>
				<div id="chat">
					<p>{{ msg.message }}</p>
				</div>
			</div>
			{% else %}
			<div id="messageContentReceived">
				<div id="messageDetails">
					<p>{{ msg.username1 }}</p>
					<p>{{ msg.message_timestamp }}</p>
				</div>
				<div id="chat">
					<p>{{ msg.message }}</p>
				</div>
			</div>
			{% endif %}
			{% endfor %}
	<div style="height:70px" id="buffer"></div>


	</div>
	<div id="chatBar">
		<form>
			<textarea type="textarea" id="message" placeholder="type message" required></textarea>
			<button class="button">
				<p>send</p>
			</button>
		</form>
	</div>
	</div>
	<script>
		function loadScroll(){
			window.scrollTo(0,document.body.scrollHeight);
		}

		function changeChat(value){
			var text = value.getElementsByTagName('p')[0].innerHTML;
			document.getElementById('curChat').innerHTML = text;
		}
	</script>
</body>
</html>