<html>
<head>
<title>LogIn Form Design</title>
    <link rel="stylesheet" type="text/css" href="loginstyle.css">
<body>
    <div class="loginbox">
    <img src="theBest.png" class="avatar">
        <h1>Register</h1>
	       <form action="" method="POST">
            <p>Name</p>
							<input type="text" name="name" placeholder="Enter Name" class="form-control">
						<p>Email</p>
							<input type="text" name="email" placeholder="Enter Email" class="form-control">
            <p>Username</p>
            	<input type="text" name="username" placeholder="Enter Username" class="form-control">
            <p>Password</p>
            	<input type="password" name="password" placeholder="Enter Password" class="form-control">
						<p>Confirm Password</p>
            	<input type="password" name="confirm" placeholder="Re-enter Password" class="form-control">
            <input type="submit" name="" value="Login">
            <a href="#">Lost your password?</a><br>

        </form>
    </div>

</body>
    </head>
</html>


<!--
{% extends 'layout.html' %}

{% block body %}
	<h1>Register</h1>
	{% from "includes/_formhelpers.html" import render_field %}
	<form method="POST" action="">
		<div class="form-group">
			{{render_field(form.name, class_= "form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.email, class_= "form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.username, class_= "form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.password, class_= "form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.confirm, class_= "form-control")}}
		</div>
		<p><input type="submit" class= "btn btn-primary" value="Submit"></p>
	</form>
{% endblock %}
-->
