<html>
<head>
<title>Register to TheBest</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='registerstyle.css') }}">
<body>
    <div class="loginbox">
    <img src="https://lh3.googleusercontent.com/tAZARVEEd-hw_8u0it_MjANWu4D-Vno-LZqmsrC8Lvq3CKGSy_UAqLpto2G0Gmqp0-iGMTWIURuWBBQK" class="avatar">
        <h1>Register</h1>
	<form action="" method="POST">
            <p>Name</p>
	    	<input type="text" name="name" placeholder="Enter Name" class="form-control" required>
	    <p>Email</p>
		<input type="email" name="email" placeholder="Enter Email" class="form-control" required>
            <p>Username</p>
            	<input type="text" name="username" placeholder="Enter Username" class="form-control" required>
	    <p>Password</p>
            	<input type="password" name="confirm" placeholder="Enter Password" class="form-control" required>
            <input type="submit" name="" value="Register">
            <a href="/login">Already have an Account?</a><br>
            <a href="#">Lost your password?</a><br>

        </form>
    </div>

</body>
    </head>
</html>