.button{
    height:60px; width:300px; border: 2px solid white; margin-left:auto; margin-right:auto; margin-top:60px;
    text-decoration: none;
    -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
  }
  .button:hover{
    background-color:#666666;
    cursor: pointer;
  }
  .home{
    padding:0; margin:0; height:100vh
  }
  /*Nav Bar Design*/
 @font-face { 
  font-family: 'MontBlack'; 
  src: url('Mont-Black.otf') format('truetype');
  }
  @font-face{
    font-family:'MontLight';
    src: url('Mont-Light.otf') format('truetype');
  }
.home ul {
    list-style-type: none;
    margin: 0;
    top:0;
    width: 100%;
    height:70px;
    padding:0;
    overflow: hidden;
    position: fixed;
    background: rgba(79, 79, 79, .5);
}

.home li {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    text-decoration: none;
    -webkit-transition: all ease; /* Safari */
    transition: all 0.35s ease;
    height:100%;
    cursor:pointer;
}

.home li p {
    display: inline-block;
    color: white;
    font-family: Arial Black, Helvetica, Verdana, sans-serif;
    font-weight:900;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin-top:5px;
}
.home li:hover {
    background-color:#d1d1d1;
}
#firstBlock{
  height:100vh;
  width:100%; 
  padding-top:1px;
  background-image:url('background_computer.jpg');
  background-repeat: no-repeat; 
  text-align:center;
  background-size:2000px 1333px;
}
#signupBlock{
  height:100vh;
  width:100%; 
  padding-top:1px;
  background-color:#aaa0a0;
  text-align:center;
  scroll-behavior: smooth;
}
@media screen and (max-width: 1100px){
  #barContent{
    width:100% !important;
  }
@media screen and (max-width: 600px){
    #firstBlockContent p{
    font-size:30px !important;
  }
}
